
#photo-selector {
	margin:5vh 0vw 0vw 0vw;
}
#photo-selector img {
	width:280px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: .3vw solid #fff;
}

/* copy of postcard on scroll --> */

[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.postcard-copy #card-constructor {
  position: fixed;
  top: 100px;
  left: center;
  background-color: #fff;
  transition: all linear 500ms;
}

.postcard-copy.ng-hide  #card-constructor {
  opacity: 0;
}

.ng-hide-remove ,
.ng-hide-add {
  display: block !important;
}

.ng-hide-remove {
  transition: all linear 500ms;
}

.ng-hide-add {
  transition: all linear 500ms;
}

/* <-- copy of postcard on scroll */


.scroll-spacer {
    width:50%;
    height:300px;
    background-color: blue;
}

.spinning {
    animation-name: loadingSpin;
    animation-duration: 4000ems;
    animation-iteration-count: infinite;
}

@keyframes loadingSpin {
    from: {
        transform:rotate(0deg);
    }
    to: {
        transform:rotate(360deg);
    }
}