<style>
#card-constructor{
  width:6.25in;
  height:4.25in;
  margin: 3vh auto;
  background-color:rgb(#ffffff);
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px #777;
  border: 10px solid #fff;
}
{{style}}
/*{{displayMode}}*/
</style>
<div id="card-constructor">
<!-- <h1>{{displayMode}}</h1> -->
<textarea ng-model="message" ng-show="photoSet" rows="18" cols="38" placeholder="Enter your message here!"></textarea>
<tr>
<div ng-show="photoSet" id="recipient-div">
<h3>To:</h3>
<hr>
<button class="btn btn-success">Add Recipient</button>
</div>
<img draggable ng-hide="photoSet" ng-repeat="image in selectedImages track by $index" src={{image}} id="img{{$index}}" ng-click="selecOptsToggle($index)">
</div>


